#include<stdio.h>
int main()
{
  printf("%d\n"size of the(int));
  printf("%d\n"size of the(short int));
  printf("%d\n"size of the(long int));
  printf("%d\n"size of the(char));
  printf("%d\n"size of the(float));
  printf("%d\n"size of the(double));
  printf("%d\n"size of the(long long size));
  printf("%d\n"size of the(long double));
  return 0;
  {
